/* Universal Styling */

h1, h2, h3, h4, h5, p, span, nav, a, ul, li {
  font-family: "trebuchet ms", sans-serif;
  color: rgb(44, 44, 44);
}

body {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/* Header Section */

header {
  margin-left: 24px;
  margin-right: 24px;
}

.flex {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.logo {
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-size: 1.5rem;
}

#academy {
  font-weight: lighter;
  color: grey;
}

@media only screen and (max-width: 1024px) {

}

/* Banner Section */

.banner {
  background-color: lightgrey;
}

.banner img {
  width: 60%;
  height: auto;
}

.bannercontent {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.bannerimg {
  padding: 32px 24px;
  max-width: 60%;
  height: auto;
}

.bannerinfo {
  align-content: center;
}

.banner h3 {
  color: white;
  background-color: grey;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media only screen and (max-width: 1024px) {

}

/* Practicing Section */

.practicecontent {
  display: flex;
}

.man-reading {
  padding: 32px 24px;
}

.man-reading img {
  max-width: 60%;
  height: auto;
}

.man-reading h1 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.man-reading p {
  padding-bottom: 24px;
}

.infoboxes {
  display: flex;
  flex-direction: column;
}

.infobox {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.infobox img {
  width: 35%;
  height: auto;
}

.infobox-text p {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media only screen and (max-width: 1024px) {

}

/* Learning Section */

.learning {
  background-color: lightgrey;
}

.learning h1 {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.learningboxes {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 72px 32px 72px;
}

.lbox {
  max-width: 33%;
  background-color: white;
}

.lbox h2 {
  padding-top: 16px;
  padding-left: 16px;
}

.lbox p {
  padding-left: 16px;
  padding-top: 8px;
}

@media only screen and (max-width: 1024px) {

}

/* Exhibit Section */

.Exhibit h1 {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media only screen and (max-width: 1024px) {

}
/* Footer Section */

@media only screen and (max-width: 1024px) {

}
